# ignore output files 

gold_10plga.pdb
gold_20plga.pdb
gold_30plga.pdb

packmol_10.in
packmol_20.in
packmol_30.in

simulations/1-PLGA_self-assembly/60/EM/**/*
!simulations/1-PLGA_self-assembly/60/EM/minim.mdp

simulations/1-PLGA_self-assembly/60/MD/**/*
!simulations/1-PLGA_self-assembly/60/MD/md.mdp

clust60_frame_0.0.pdb
clust60_frame_20.0.pdb
clust60_frame_100.0.pdb

simulations/1-PLGA_self-assembly/60/SASA/**/*
simulations/1-PLGA_self-assembly/30/SASA/**/*
simulations/1-PLGA_self-assembly/30/MD/**/*
simulations/1-PLGA_self-assembly/20/SASA/**/*
simulations/1-PLGA_self-assembly/20/MD/**/*
simulations/1-PLGA_self-assembly/10/SASA/**/*
simulations/1-PLGA_self-assembly/10/MD/**/*
simulations/1-PLGA_self-assembly/0/**/*

simulations/0-Packmol/inputs_US/**/*
!simulations/0-Packmol/inputs_US/2PLGA_chain_conect.pdb
!simulations/0-Packmol/inputs_US/AuNP_ASE_wulff_surf_d39.pdb
!simulations/0-Packmol/inputs_US/packmol_54.in
!simulations/0-Packmol/inputs_US/AuNP_54.7.pdb
!simulations/0-Packmol/inputs_US/packmol_tot_54.in
!simulations/0-Packmol/inputs_US/ic_54.7.pdb

simulations/2-US_free_energy/theta_54.7/EM/**/*
!simulations/2-US_free_energy/theta_54.7/EM/minim.mdp

# ignore code files

.vscode
venv/